#edit-zone {
    // display: none;
}
    
/* Bluechurch Theme 2017 */
@grey-light: #ccc;
@grey-verylight: #eee;
@grey: #999;
@grey-dark: #777;

@dark-blue: #172c38;


@font-face {
    font-family: 'mic_32_new_rgregular';
    src: url('mic32new/mic32new-regular-webfont.woff2') format('woff2'),
         url('mic32new/mic32new-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mic_32_newmedium';
    src: url('mic32new/mic32new-medium-webfont.woff2') format('woff2'),
         url('mic32new/mic32new-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mic_32_new_rgbold';
    src: url('mic32new/mic32new-bold-webfont.woff2') format('woff2'),
         url('mic32new/mic32new-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mic_32_newlight';
    src: url('mic32new/mic32new-light-webfont.woff2') format('woff2'),
         url('mic32new/mic32new-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@plone-font-family-sans-serif:  "mic_32_new_rgregular", "Helvetica Neue", Helvetica, Arial, sans-serif; // Roboto seems Plone's DIN
@plone-font-family-condensed:   "mic_32_newmedium", "Arial Narrow", sans-serif; //just on 

@fontcolor: #172c38;
@light-fontcolor: white;
@background: transparent;

@headingcolor: #81b7e6;

@thumb_size: 128px;

@linkcolor: #81b7e6;
@link-background: transparent;
@linkactive: #81b7e6;
@linkactive-background: @dark-blue;
@linkhover: @linkactive;
@linkhover-background: @linkactive-background;
@linkcolor-light: lighten(@linkcolor, 10%);

@navigationcolor: white;
@navigation-background: transparent;
@navigationactive: #81b7e6;
@navigationactive-background: #9AD2CD;
.navigationactive() {
    color: @navigationactive;
    background-color: @navigationactive-background;
}
.navigationhover() {
    background-color: transparent;
}

a {
    outline: 0 !important;
}
    
body {
    color: white;
}
#visual-portal-wrapper {
    background-color: @grey;
    background-image: url('/++plone++rohberg.bluechurch/backgrounds/background_default.jpg')
}

.plone-modal {
    color: @dark-blue;
}
@titel3-font-size: 1.2em;



#portal-header {
    height: 5rem;
}

#global_statusmessage {
    padding: 0 15px;
}



#portal-searchbox {
    #searchGadget {
        border-radius: 0;
        background-color: @grey-light;
        opacity: 0.7;
        filter: alpha(opacity=70);        
    }
    input.searchButton,
    #searchbox_currentfolder_only {
        // background-color: @grey-light;
        opacity: 0.8;
        filter: alpha(opacity=80);  
        border-radius: 0;
    }
}


// #portal-anontools,
// #member-actions {
//     color: @light-fontcolor;
//     float: right;
//     font-size: 1.2rem;
//     z-index: 10000;
//     position: relative;
//     ul {
//       text-align: right;
//       list-style: none;
//       li {
//           margin: 0;
//           a {
//               color: white;
//               padding-left: 1rem;
//               text-transform: lowercase;
//           }
//       }
//     }
// }
// #member-actions {
//     margin-top: -3rem;
// }
#member_actions,
#user_actions {
    color: @light-fontcolor;
    float: right;
    font-size: 1.2rem;
    z-index: 10000;
    position: relative;
    text-align: right;
    list-style: none;
    li {
        margin: 0;
            a {
            color: white;
            padding-left: 1rem;
            outline: 0;
        }            
    }
}
#member_actions {
    color: red;
}
#user_actions {
    clear: right;
    text-transform: lowercase;
}


#document_actions {
    list-style: none;
    li {}
}

    
#content .plone-btn,
input[type="submit"] {
    border: 1px solid @linkcolor-light;
    border-radius: 4px;
    color: @linkcolor;
    background-color: transparent;
    .pull-right();
    margin-left: 1rem;
    &:hover,
    &:active,
    &:visited,
    &:link {
        border: 1px solid @linkcolor-light;            
    }
    &:hover {
        background-color: @dark-blue;
    }
}



#content a {
    color: @linkcolor;
    background-color: @link-background;
    &:hover, &:active {
        color: @linkactive;
        background-color: @linkactive-background;
        border-bottom: none;
    }
}
#content-core a {
    border-bottom: none;
    &:hover{
        border-bottom: none;
    }
}

.highlighted {
    color: @linkcolor;
    background-color: @linkactive-background;
    a, a:hover {
        text-decoration: none;
        border-bottom: none !important;
    }
}

p.callout {
    width: 70%;
    float: right;
    min-width: 30rem;
    text-align: right;
    border: none;
    background-color: transparent;
    color: white;
    padding: 0;
    font-size: 2.5rem;
    span {
        background-color: black;
    }
}

.documentFirstHeading {
    color: @headingcolor;
    &.eventmanager {
        // color: lighten(@headingcolor, 20%);
    }
    &.artist {
        // color: lighten(@headingcolor, 20%);
    }
}

.newsImageContainer {
    border-radius: 0;
    // max-height: @thumb_size;
    box-shadow: none;
}

#portal-logo {
    margin-left: 15px;
    img {
        max-width: 240px;
    }
}

.plone-navbar {
    background-color: transparent;
    box-shadow: none;
}

#portal-globalnav {
    a {
        color: @navigationcolor;
        background-color: @navigation-background;
        font-weight: bold;
        font-size: 16px;
        &:hover {
            .navigationhover;
        }
    }
    li.selected {
        border-bottom: 4px solid white;
        a {
            // TODO: Navi abhängig von Section
            .navigationactive;
        }
    }
} 
body.section-locations #portal-globalnav li.selected a {
    background-color: #FECC9A;
}
body.section-events #portal-globalnav li.selected a {
    background-color: #E5A28B;
}
body.section-profiles #portal-globalnav li.selected a {
    background-color: #D8E698;
}
body.section-research #portal-globalnav li.selected a {
    background-color: #F29EC4;
}
body.section-contact #portal-globalnav li.selected a {
    background-color: #C6C3B3;
}


#content-core {
    .container, .container-fluid {
        padding-left: 0px;
    }
}

// main content Bereich
#content {
    color: #172c38;
    background-color: white;
    opacity: 0.9;
    filter: alpha(opacity=90);
    padding: 1rem;
}
.section-startseite,
.section-start,
.section-home {
    .documentFirstHeading {
        display: none;
    }
    #content {
        color: white;
        background-color: transparent;
        font-weight: bold;
}
}

/* *** Portlets 
*********************************** */

@plone-portlet-border: none;
@plone-portlet-content-bg: transparent;
@plone-portlet-header-bg: transparent;

@plone-portlet-list-hover-bg: transparent;
@portlet-padding: 2px;

.portlet {
    background-color: white;
    opacity: 0.7;
    filter: alpha(opacity=70);
    border-radius: 0;
    box-shadow: none;
}
.portlet.portletEvents {
    color: white;
    background-color: transparent;
    opacity: 1;
    filter: alpha(opacity=100);    
    box-shadow: none;
    .portletHeader {
        display: none;
        color: white;
		font-size: @plone-font-size-base;
        text-align: right;
        padding:@portlet-padding;
        margin-bottom: 2rem;
        & > a {
            color: white;
        }
    }

    .portletContent {
    	font-size: @plone-font-size-base;
    	border-top: @plone-portlet-border;
    	background: @plone-portlet-content-bg;
    	font-weight: @plone-font-weight-regular;
    	& > *, & > div:not(.portalMessage) { //all but ul and tables and portalMessage
    		padding: 10px 15px;
    		margin: 0;
    		color: @plone-gray;
            text-align: right;
    	}
    	> ul {
    		padding: 0;
    		list-style: none;
    		position: relative;
    		> li {
                margin-bottom: 2em;
    			a {
    			display: block;
    			padding:@portlet-padding;
    			position: relative;
    			z-index: 1;
    			color: @linkactive;
                background-color: @linkactive-background;
                font-size: @titel3-font-size;
    			}
    			> a {border-top: @plone-portlet-border;}
    			&:first-child > a {border-top: 0;}				
    		}
    		ul {
    			padding-left:15px;
    			list-style: none;
    		}
    		.portletItemDetails {
    			display: block;
    			z-index: 0;
    			padding: @portlet-padding;
    			font-weight: @plone-font-weight-regular;
    			position: relative;
    			margin-top: 0;
                font-size: 1.2rem;
    			color: white;
                abbr {
                    display: none;
                }
    		}
            .location {
                color: white;
                padding: 2px;
                font-size: 1.7rem;
            }
            .tile {
                font-size: 1.9rem;
                text-transform: uppercase;
                line-height: 2.2rem;
            }
    		li:hover {background: @plone-portlet-list-hover-bg;
    			a::before {color: @plone-portlet-list-bullet;}
    		}
    	}
    }
    .portletFooter {
        background-color: transparent;
        color: white;
        text-align: right;
        a {
            color: white;
        }
    }
}

#relatedItemBox {
    ul {
        list-style: none;
        padding:0;
    }
    [class*="contenttype-"]::before, .contenttype-file #crud-edit-File-widgets-view_title::before {
        display: none;
    }
}

article.vevent {
    clear: both;
}

#portal-footer-wrapper {
    background-color: transparent;
}


/* *** Profiles 
****************************** */

[class^="contenttype-dexterity-membrane"].state-disabled  	{color: @plone-default-private-color;
	&:hover, &:active, &:focus 		{color: darken(@plone-default-private-color,15%)}}

// [class*="contenttype-dexterity-membrane"]
.state-disabled {
    color: red !important;
}


body.template-bluechurchmembraneprofileview {
    .profile_meta {
        text-transform: uppercase;
    }
}




/* *** forms 
********************************** */

// plone.app.z3cform
.field {
    clear: left;
}
.formControls {
    margin-bottom: 3rem;
}

/* end forms*/


.owner {
    // clear:both;
}

/* *** views
*************************************** */

body.section-locations #main-container,
body.section-profiles #main-container,
body.section-events #main-container {
    img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
}


/* *** faceted navigation
****************************************** */

#right-area {
    width: 16em;
}
.right-area-js {
    margin-right: 15em;
}

.faceted-checkbox-widget .widget-fieldset ul {
    padding-left: 1rem;
}
#content-core {
    #faceted-results {
        .photoAlbumEntry {
            max-height: 128px;
            overflow: hidden;
            width: 47%;
            vertical-align: top;
            a {
                vertical-align: top;
                width: 100%;
                display: block;
                margin-right: .5rem;
                box-shadow: none;
                text-align: left;
                color: @dark-blue;
                border: none;
                border-radius: 0;
                font-weight: bold;
                
                &.eventmanager {
                    color: @grey-dark;
                }
                &:hover, &:active {
                    color: @linkactive;
                    text-decoration: none;
                    background-color: @linkactive-background;
                }
            }
            img {
                float: left;
                padding-right: 0.4rem;
                max-height: 128px;
                
            }
            .photoAlbumEntryTitle {
                font-size: 1.7rem;
                text-transform: uppercase;
                word-wrap: break-word;
                hyphens: auto;
                &.eventmanager {
                    color: @grey-dark;
                }
            }
            .photoAlbumEntryCity {
                font-size: 1.2rem;
                text-transform: uppercase;
                display: block;
                // clear:both;
            }
        }
    }

}

/* *** location 
***************************************** */


.additionalinfo {
    clear: both;
    border-top: 1px solid black;
    padding-top: .7em;
    ul {
        list-style-type: none;
        padding-left: 0px;
    }
}
.locationview:after {
    color: magenta;
}
.locationview {
    &:after {
        clear: both;
    }
    section {
        padding: 0 1em 1em 0;

        &.map {
            width: 100%;
            min-height: 400px;
        }

        &.address,
        &.contact,
        &.social {
            float: left;
            min-width: 50%;
        }

        &.notes:before {
            content: '';
            clear: left;
        }
    }

    dt {
        float: left;
        min-width: 7em;
        font-weight: bold;
        display: none;
    }
    dd:after {
        content: '';
        clear: left;
    }
}

.venue_overlay {
    .pat-leaflet {
        width: 100%;
        height: 80vh;
    }
}

// Input form
#formfield-form-widgets-IAddress-zip_code {
    float: left;
    width: 10em;
    margin-right: 1em;
}
#formfield-form-widgets-IAddress-city {
    float: left;
    width: 30em;
    margin-right: 1em;
}
#formfield-form-widgets-IAddress-country {
    float: left;
    width: 30em;
}
#formfield-form-widgets-IAddress-country:after {
    clear: left;
    content: '';
}

#formfield-form-widgets-IContact-email {
    float: left;
    width: 45%;
    margin-right: 1em;
}
#formfield-form-widgets-IContact-website {
    float: left;
    width: 45%;
}
#formfield-form-widgets-IContact-website:after {
    clear: left;
    content: '';
}

#formfield-form-widgets-IContact-phone {
    float: left;
    width: 30%;
    margin-right: 1em;
}
#formfield-form-widgets-IContact-mobile {
    float: left;
    width: 30%;
    margin-right: 1em;
}
#formfield-form-widgets-IContact-fax {
    float: left;
    width: 30%;
}
#formfield-form-widgets-IContact-fax:after {
    clear: left;
    content: '';
}

.geolocation_wrapper.edit {

    button.locationsearch {
        width: 100%;
        margin-bottom: 1em;
        background-color: blue;
        color: orange;
    }

}

/* *** event 
****************************************************** */
.event.summary {
    box-shadow: none;
    background-color: lighten(@headingcolor, 20%);
}
    
ul.event.summary.details {
    list-style-type: none;
    padding-left: 1em;
}





.snippetsviewlet {
    display: none;
}

/* TinyMCE templates */

// image-grid-2x2:
.image-grid-2x2 {
    padding: 0;
    margin: 0 0 @plone-grid-gutter-width 0;
    list-style: none;
    .make-row();

    > li {
        .make-xs-column(12);
        .make-sm-column(6);
        margin-top: @plone-grid-gutter-width;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

